.card{
    background-color: #222;
    height: 83vh;
    width: 45%;    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;     
    margin: auto;
    margin-top: 1.5rem;
    border: 8px solid transparent; /* Establece un borde transparente inicial */
    animation: borderGradient 1s linear infinite; /* Aplica la animación al borde */
    box-sizing: border-box; /* Asegura que el ancho del borde se incluya en el tamaño total */
  }
  
  @keyframes borderGradient {
    0% {
      border-image: linear-gradient(45deg, #66ff00, #ffff00, #05b8d8);
      border-image-slice: 20; /* Define el ancho del borde */
    }
    100% {
      border-image: linear-gradient(45deg, #05b8d8, #66ff00, #ffff00);
      border-image-slice: 20; /* Define el ancho del borde */
    }
   
  }
  .status{
color: var(--blue)
  }
  .specie{
    color: var(--yellow)
  }
  .gender{
    color: var(--blue)
  }
  .origin{
    color: var(--green);
  }

  .name{ 
    margin-top: auto;
    color: hsla(0, 0%, 0%, .9);
    font: normal 3rem Varela Round, sans-serif;    
    letter-spacing: 5px;    
    text-align: center;
    text-transform: uppercase; 
    animation: move linear 2000ms infinite;  
    
  }

  @keyframes move {
    0% {
      text-shadow:
        4px -4px 0 rgb(9, 255, 0), 
        3px -3px 0 rgb(0, 255, 0), 
        2px -2px 0  rgb(0, 255, 0),
        1px -1px 0 rgb(0, 255, 0),
        -4px 4px 0 hsla(180, 100%, 50%, 1), 
        -3px 3px 0 hsla(180, 100%, 50%, 1), 
        -2px 2px 0 hsla(180, 100%, 50%, 1), 
        -1px 1px 0 hsla(180, 100%, 50%, 1)
      ;
    }
    25% {    
      text-shadow:      
        -4px -4px 0 hsla(180, 100%, 50%, 1), 
        -3px -3px 0 hsla(180, 100%, 50%, 1), 
        -2px -2px 0 hsla(180, 100%, 50%, 1), 
        -1px -1px 0 hsla(180, 100%, 50%, 1),
        4px 4px 0 rgb(0, 255, 0), 
        3px 3px 0 rgb(0, 255, 0), 
        2px 2px 0 rgb(0, 255, 0) , 
        1px 1px 0 rgb(0, 255, 0)
      ;
    }
    50% {
      text-shadow:
        -4px 4px 0 rgb(217, 255, 0), 
        -3px 3px 0 rgb(217, 255, 0), 
        -2px 2px 0  rgb(217, 255, 0) ,
        -1px 1px 0 rgb(217, 255, 0),
        4px -4px 0 hsla(180, 100%, 50%, 1), 
        3px -3px 0 hsla(180, 100%, 50%, 1), 
        2px -2px 0 hsla(180, 100%, 50%, 1), 
        1px -1px 0 hsla(180, 100%, 50%, 1)
      ;
    }
    75% {
      text-shadow:
        4px 4px 0 hsla(180, 100%, 50%, 1), 
        3px 3px 0 hsla(180, 100%, 50%, 1), 
        2px 2px 0 hsla(180, 100%, 50%, 1), 
        1px 1px 0 hsla(180, 100%, 50%, 1),
        -4px -4px 0 rgb(0, 255, 0), 
        -3px -3px 0 rgb(0, 255, 0), 
        -2px -2px 0 rgb(0, 255, 0) , 
        -1px -1px 0  rgb(0, 255, 0)     
      ;
    }
    100% {
      text-shadow:
        4px -4px 0 rgb(217, 255, 0), 
        3px -3px 0 rgb(217, 255, 0), 
        2px -2px 0 rgb(217, 255, 0), 
        1px -1px 0 rgb(217, 255, 0),
        -4px 4px 0 hsla(180, 100%, 50%, 1), 
        -3px 3px 0 hsla(180, 100%, 50%, 1), 
        -2px 2px 0 hsla(180, 100%, 50%, 1), 
        -1px 1px 0 hsla(180, 100%, 50%, 1)
      ;
    }  
  }
  
  .content{
    margin-top: 1.5rem;
    letter-spacing: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  .image{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    gap: 1rem;
  }
  .image img{
    height: 150px;
    border-radius: 50%;
  
  }

  .btn{
    height: 40px;
    width: 100px;
    background-color: #111;
    color: #f5f5f5;
    border-radius: 10px;
  text-decoration: none;
  border: none;
  overflow: hidden;
  position: relative;
  font-size: 1rem;
  }


  .btn::before,
.btn::after {
  content: "";
  position: absolute;
  width: 0;
  height: 100%;
  border: 3px solid transparent; /* Borde transparente */
  border-radius: 10px;
  transition: width 0.4s ease-in-out;
}

.btn::before {
  top: -6px;
  left: -6px;
  border-image: linear-gradient(
    115deg,
    var(--green),
    var(--blue),
    var(--yellow),
    var(--blue),
    var(--green)
  );
  border-image-slice: 1;
}

.btn::after {
  bottom: -6px;
  right: -6px;
  border-image: linear-gradient(
    115deg,
    var(--green),
    var(--blue),
    var(--yellow),
    var(--blue),
    var(--green)
  );
  border-image-slice: 2;
}

.btn:hover::before,
.btn:hover::after {
  width: 100%; 
}