@font-face {
  font-family: "RickAndMorty";
  src: url(/src/assets/fonts/get_schwifty.ttf);
}
:root {
  --green: #66ff00;
  --yellow: #ffff00;
  --blue: #05b8d8;
}
body {
  background-image: url("/src/assets/Rick-_-Morty-The-Lab-_online-video-cutter.com_.gif");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Poppins";
  
}

.neontitlecontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 2rem;
  margin-left: 2rem;
}

.neontitle {
  font-family: "RickAndMorty";
  font-size: 100px;
  letter-spacing: -2px;
  color: #fff;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff,
    0 0 25px var(--yellow), 0 0 15px var(--yellow);
  -webkit-text-fill-color: var(--blue);
  -webkit-text-stroke-color: var(--green);
  -webkit-text-stroke-width: 0.1px;
}

@media screen and (min-width: 321px) and (max-width: 768px) {
  .neontitle {
    font-size: 50px;
  }
  .neontitlecontainer {
    flex-direction: column;
    margin-left: 0;
  }
}

/**mobile**/

@media screen and (max-width: 320px) {
  .neontitlecontainer {
    margin-top: 5rem;
    margin-left: auto;
  }
  .neontitle {
    font-size: 40px;
  }
}
