:root {
  --green: #66ff00;
  --yellow: #ffff00;
  --blue: #05b8d8;
}
/**desktop**/
@media screen and (min-width: 769px) {
  .icon {
    display: none;
  }
}
.button {
  position: relative;
  color: #f5f5f5;
  height: 30px;
  width: 100px;
  text-align: center;
  border-radius: 10px;
  text-decoration: none;
  background-color: #111;
  overflow: hidden;
  border: none; /* Eliminar el borde predeterminado del botón */
  cursor: pointer;
  margin-left: 1rem;
}

.button::before,
.button::after {
  content: "";
  position: absolute;
  width: 0;
  height: 100%;
  border: 3px solid transparent; /* Borde transparente */
  border-radius: 10px;
  transition: width 0.4s ease-in-out;
}

.button::before {
  top: -6px;
  left: -6px;
  border-image: linear-gradient(
    115deg,
    var(--green),
    var(--blue),
    var(--yellow),
    var(--blue),
    var(--green)
  );
  border-image-slice: 1;
}

.button::after {
  bottom: -6px;
  right: -6px;
  border-image: linear-gradient(
    115deg,
    var(--green),
    var(--blue),
    var(--yellow),
    var(--blue),
    var(--green)
  );
  border-image-slice: 1;
}

.button:hover::before,
.button:hover::after {
  width: 100%; /* Hacer que los bordes brillantes sean visibles al hacer hover */
}

.search {
  height: 2rem;
  width: 15rem;
  border-style: solid;
  border-image: linear-gradient(45deg, var(--blue), var(--green)) 1;
  border-radius: 10px;
  border-width: 4px;
  outline: none;
  margin-right: 0;
}
/**tablet**/
@media screen and (min-width: 321px) and (max-width: 768px) {
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  .icon {
    font-size: 1.5rem;
    margin-right: 5rem;
  }
}

/**mobile**/

@media screen and (max-width: 320px) {
  .container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  .search {
    max-width: 150px;
    max-height: 95px;
  }
  .button {
    max-width: 70px;
  }
  .icon {
    margin-right: 2rem;
  }
}
